@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --white: hsl(0, 0%, 100%); 
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%); 
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%); 
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%); 
  --rose-50: hsl(330, 100%, 98%);

  --Young-Serif-font: "Young Serif", serif;
  --Young-Serif-weight: 400;
  
  --Outfit-font: "Outfit", sans-serif;
  --Outfit-weight-regular: 400;
  --Outfit-weight-semi-bold: 600;
  --Outfit-weight-bold: 700;
  
  --body-font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  --h1-font-size: clamp(2rem, 6vw + 1rem, 2.25rem);
  --h2-font-size: clamp(1.5rem, 4vw + 1rem, 1.75rem);
  
}
*, *::before, *::after {
  box-sizing: border-box;
  
}
*{
  font-weight: normal;
}
html, 
body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  line-height: 1.5;
  display: grid;
  place-items: center;
  font-family: var(--Outfit-font);
  font-size: var(--body-font-size);
  background-color: var(--stone-100);
  color: var(--stone-600);
  transition: all 300ms ease-in-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
img,
video,
iframe,
webp{
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: top center;
}
img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem var(--stone-150);
  cursor: pointer;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 42rem;
  margin: 0.5rem ;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.5rem var(--stone-150);
}

h1 {
  color: var(--stone-900);

  text-align: center;
  font-family: var(--Young-Serif-font);
  font-weight: var(--Outfit-weight-bold);
  font-size:  var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
  font-family: var(--Young-Serif-font);
  font-weight: var(--Outfit-weight-regular);
  color: var(--brown-800);
  margin: 0.5rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
tr {
  
  border-bottom: 0.063rem solid var(--stone-150);
}
hr {
  border: none;
  border-top: 0.063rem solid var(--stone-150);
  margin: 2rem 0;
  width: 100%;
  height: 0;
  background: var(--stone-150);
 
}
tbody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem var(--stone-150);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
td {
  padding: 0.5rem;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
ul, ol{
  padding-left: 1.5rem;
  margin: 0.5rem 0;
  color: var(--brown-800);
  font-weight: var(--Outfit-weight-bold);
}
p{
  color: var(--stone-600);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
span{
  color: var(--stone-900);
  font-weight: var(--Outfit-weight-bold);
}